.Boogle1 {height: 500px;
background-color: white;
margin: 0 auto;
height: 400px;
width: auto;
position: absolute;
border:strong;
}
.Boogle2 {background-color: white;
margin:0 auto;
height:500px;
width: auto;
border:strong;
}
.IMG{position: absolute;
margin-top:20%;
margin-left: 38%;
margin-right: 40%;
height:300px;
width:200px;
}

.Search {position:relative;
left:50%;
right:50%;
margin-top:20%;
text-align: center;
}

.Searchbox {background-color:white;
  height: 50px;
  width: 150px;
  position: fixed;
  display: block;
  top:58%;
  left:38%;
  }

.Gumb1 {font-family: Verdana;
  font-style: strong;
  height:auto;
  width: auto;
  position: fixed; /*don't show in mozzila*/
  display: block;
  top:68%;
  left:35%;
}

.Gumb2 {font-family: Verdana;
font-style: strong;
height:auto;
width: auto;
position: fixed; /*don't show in mozzila*/
display: block;
top:68%;
left:45%;
}

.language {font-family: Verdana;
font-size: 12px;
display:block;
position: fixed;
top: 78%;
left:36%;}

.meni {background-color: white;
  position: fixed;
  left:0%;
  bottom:0%;
}

li {font-family: Verdana;
font-size: 12px;
display: inline-block;
}
